{% extends "admin/base.html" %}
{% load static %}

{% block title %}🐶 Spaço da Jhuséna Admin{% endblock %}

{% block extrastyle %}
<!-- Favicon personalizado -->
<link rel="stylesheet" type="text/css" href="{% static 'css/admin_custom.css' %}">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">🐶 Spaço da Jhuséna Admin</a></h1>
  <!-- CSS personalizado para modo escuro e cores da marca -->

{% endblock %}

{% block extrahead %}
  <!-- Favicon personalizado -->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

  <style>
    body {
  background-color: #202921; /* verde claro equilibrado */
  color: #222;
  font-family: 'Segoe UI', sans-serif;
}


   /* Muda o fundo da barra superior do admin */
    #header, #header-container, .module caption, .dashboard-module h2 {
   background-color: #32f081ff !important; /* verde forte */
 }
 /* Botões e links em verde */
 a, .grp-button, input[type="submit"] {
   color: white !important;
   border-color: #27ae60 !important;
 }
 /* Muda cor dos links no menu lateral */
 #nav-sidebar a, #nav-sidebar a:hover {
   color: #27ae60 !important;
 }

  </style>
{% endblock %}
