body{
    background-color: #e8f5e9;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container{
    padding-top: 50px;
}
.logo{
width: 150px;
margin-bottom: 20px;
}
h1{
    color: #2e7d32;
}
.verde{
    color: #4CAF50;
}
.botao{
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
.botao:hover{
    background-color: #388E3C;
}
