<!doctype html>
<html lang="pt-br">
  <head>
    
    <meta charset="utf-8" />
    <title>{% block title %}Spaço da Jhuséna{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CDN opcional para ficar bonitinho -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-dark bg-success">
      <div class="container">
        <span class="navbar-brand">🐶 Spaço da Jhuséna</span>
      </div>
    </nav>
    {% load static %}
<link rel="icon" href="{% static 'favicon.ico' %}">

    <main class="container py-4">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
